.job__card {
    background-color: whitesmoke;
    border-radius: .3rem;
    padding: 1rem;
    margin: .3rem 0;
}

.job__cardTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: .3rem;
}

.job__cardBody > h4, .job__cardBody > p {
    font-family: 'Merriweather', serif;
    margin: .25rem 0;
}

.job__cardTitle > h5 > a {
    font-family: 'Merriweather', serif;
    color: #b1480b;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.job__cardTitle > h5 > a:hover {
    color: #ff6200;
    
}

.job__cardTitle > h5 > a .MuiSvgIcon-root {
    font-size: 14px;
}

.job__cardBody > .date {
    font-family: 'Titillium Web', sans-serif;
    font-size: small;
    font-weight: lighter;
    margin-top: 3rem;
}

.company {
    text-decoration: none;
    color: #7c4525;
    margin-bottom: 1rem;
    font-size: 13px;
}

.company:hover {
    color: #b1480b;
    transition: .4s ease;
}

.job__cardBody p > span {
    font-size: 13px;
}

.more {
    color: #c04c09;
    text-decoration: none;
    font-weight: 400;
}

.more:hover {
    color: #f35900;
    transition: .4s ease;
}

.job__cardBody > .desc {
    color: black;
}
