.jobs__title {
    font-size: 34px;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.jobs__container {
    display: flex;
    flex-direction: column;
}

.loader {
    display: flex;
    justify-content: center;
    text-align: center;
}

.search {
    margin-bottom: 2rem;
}

.search__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    padding: .7rem;
    border-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    outline-width: 0;
    width: 50vw;
}

.search__icon {
    background-color: white;
    border-radius: .5rem;
    font-size: 2.3rem !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: .2rem;
    text-align: center;
    color: #b1480b;
}